<div class="card-container">
    <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> Registrarse</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card-content>
        <form class="form-custom" [formGroup]="formRegister">
            <mat-form-field class="input-custom">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>

            <mat-form-field class="input-custom">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre">
            </mat-form-field>

            <mat-form-field class="input-custom">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="apellido">
            </mat-form-field>

            <mat-form-field class="input-custom">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" type="email">
            </mat-form-field>

            <mat-form-field class="input-custom">
                <mat-label>Telefono</mat-label>
                <input matInput formControlName="telefono">
            </mat-form-field>

            <mat-form-field class="input-custom">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>

            <div class="flex">
                <button mat-flat-button color="primary" (click)="register()">Registrar</button>

                <button mat-flat-button color="warn" (click)="back()" style="margin-left: 8px;">Volver</button>
            </div>
        </form>
      </mat-card-content>
        
</div>
