<div class="card-container">
    <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title> Iniciar sesion</mat-card-title>
        </mat-card-header>
      </mat-card>
      <mat-card-content>
        <form class="form-custom" [formGroup]="formLogin">
            <mat-form-field class="input-custom">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username">
            </mat-form-field>

            <mat-form-field class="input-custom">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>

            <div class="flex">
                <button mat-flat-button color="primary" (click)="login()">Iniciar sesion</button>

                <button mat-flat-button color="warn" (click)="formRegister()" style="margin-left: 8px;">Registrarse</button>
            </div>
        </form>
      </mat-card-content>
        
</div>
